<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="estadoEnvio" >
    
    <update id="actualizarEstado" parameterType="pojo.EstadoEnvio">
        UPDATE EstadoEnvio SET descripcion = #{descripcion}, fecha = DATE(NOW()) WHERE idEnvio = #{idEstadoEnvio};
    </update>
    
    <select id="obtenerEstadoEnvio" resultType="pojo.EstadoEnvio" >
        SELECT id as idEstadoEnvio, idEnvio, fecha, descripcion FROM EstadoEnvio WHERE idEnvio = #{idEnvio};
    </select>
   
    
</mapper>
