<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="paquetes" >
    
    <insert id="agregar" parameterType="pojo.Paquete" >
        INSERT INTO Paquete (id, idEnvio, descripcion, dimensiones, peso) VALUE 
        (
        #{id},
        #{idEnvio}, 
        #{descripcion},
        #{dimensiones},
        #{peso}
        )
    </insert>
    
    <resultMap id="paqueteResultMap" type="pojo.Paquete">
        
        <id property="idPaquete" column="idPaquete" />
        <result property="descripcion" column="descripcion" />
        <result property="dimensiones" column="dimensiones" />
        <result property="peso" column="peso" />
        <result property="idEnvio" column="idEnvio" />
        
        <association property="envio" javaType="pojo.Envio">
            <result property="numGuia" column="numGuia" />
        </association>
 
    </resultMap>
    
    <select id="obtenerPaquetes" resultMap="paqueteResultMap">
        SELECT p.id as idPaquete, p.idEnvio as idEnvio, p.descripcion, p.dimensiones, p.peso, e.numGuia FROM Paquete p INNER JOIN Envio e ON p.idEnvio = e.id;
    </select>
    
    <update id="actualizar" parameterType="pojo.Paquete">
        UPDATE Paquete SET idEnvio=#{idEnvio}, descripcion = #{descripcion}, dimensiones = #{dimensiones}, peso= #{peso} WHERE id = #{id};
    </update>
    
    <update id="eliminar" parameterType="Integer" >
        UPDATE Paquete SET idEnvio=NULL WHERE id = #{id}
    </update>
    
    <select id="consultar-id" parameterType="Integer" resultType="pojo.Paquete" >
        SELECT id, idEnvio, descripcion, dimensiones, peso FROM Paquete WHERE id = #{id};
    </select>
    
    <select id="obtenerPaquetesEnvio" resultType="pojo.Paquete">
        SELECT p.id,
        p.idEnvio,
        p.descripcion,
        p.dimensiones,
        p.peso
        FROM Paquete p
        INNER JOIN
        Envio e ON p.idEnvio = #{idEnvio}
        WHERE e.id = #{idEnvio};
    </select>
    
    <select id="obtenerTodosPaquetesEnvio" resultMap="paqueteResultMap">
        SELECT
        p.id AS idPaquete,
        p.idEnvio AS idEnvio,
        p.descripcion,
        p.dimensiones,
        p.peso,
        e.numGuia
        FROM
        Paquete p
        LEFT JOIN
        Envio e
        ON
        p.idEnvio = e.id;
    </select>
    
    <select id="obtenerPaquetesPorEnvio" parameterType="int" resultType="pojo.Paquete">
        SELECT 
        p.id,
        p.idEnvio,
        p.descripcion,
        p.dimensiones,
        p.peso
        FROM 
        Paquete p
        WHERE 
        p.idEnvio = #{idEnvio};
    </select>
   
    
</mapper>
